In [4]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, StandardScaler 
from sklearn.model_selection import train_test_split

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


#modelling 
from sklearn.metrics import roc_auc_score, confusion_matrix, accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier

#set random seed
seed = 42



df = pd.read_csv("../mobile_data.csv")

In [5]:
df

,Unnamed: 0,ram,battery_power,px_width,px_height,mobile_wt,int_memory,price_range
0,0,2549,842,756,20,188,7,1
1,1,2631,1021,1988,905,136,53,2
2,2,2603,563,1716,1263,145,41,2
3,3,2769,615,1786,1216,131,10,2
4,4,1411,1821,1212,1208,141,44,1
...,...,...,...,...,...,...,...,...
1995,1995,668,794,1890,1222,106,2,0
1996,1996,2032,1965,1965,915,187,39,2
1997,1997,3057,1911,1632,868,108,36,3
1998,1998,869,1512,670,336,145,46,0
1999,1999,3919,510,754,483,168,45,3

In [7]:

X = df.drop(columns=['price_range'],axis=1)
y = df['price_range']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
scalar = StandardScaler()
scalar.fit(X_train)
X_train = scalar.transform(X_train)
X_test =  scalar.transform(X_test)

In [10]:
model = XGBClassifier()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.91

In [12]:
model = LogisticRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.98

In [13]:
model = SVC()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.93